
#container01 {
    display: flex;
    width: 100%;
    min-width: 100vw;
    min-height: 20rem;
    flex-direction: column;
    /*-moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;*/
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-attachment: fixed;
    border-style: solid;
    /*border-color: #FF00A8;*/
    border-color: #ff002b;
    border-top-width: 10px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.46875%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E'), linear-gradient(to top, rgba(43,50,94,0.412), rgba(43,50,94,0.412)), url('../images/container01.jpg');
    /*background-size: 512px, auto, cover;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

#container01.default > .inner01 {
    display: block;
    width: 90%;
}

div.afterSpacer01 {
    margin: 4rem 0 1rem;
    padding: 20rem 0 1rem;

}

@media (min-width: 2400px) {

}
@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }

    #container01 {
        background-attachment: fixed;
    }

    div.afterSpacer01 {
        margin: 4rem 0 1rem 2rem;
        padding: 26rem 0 1rem;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}

@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }

   #container01 > .inner01 {
        padding: 3.5rem 0;
        background-attachment: scroll;
    }

    div.afterSpacer01 {
        padding: 26rem 6rem 1rem 4rem;
    }
    p.style01 {
        font-size: 1em;
        text-align: right;
        left: 7rem;
        position: relative;
        top: 9rem;
    }

@media (max-width: 480px) {
    #container01 {
        width: 100%;
        background-attachment: scroll;

    }

    div.afterSpacer01 {
        padding: 10rem 0 1rem 5rem;
    }
    
    p.style01 {
        font-size: 1em;
        text-align: right;
        left: 5rem;
        position: relative;
        top: 3rem;
    }

}
}
@media (max-width: 360px) {
    
    div.afterSpacer01 {
        padding: 10rem 2rem 1rem;
}
}
